{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto px-4"> 
  {% include 'base/snippets/navbar.html' %}

  <section class="mt-2">
    <div class="py-4 px-8 bg-white shadow-lg rounded-lg my-20">
      <div class="flex justify-center md:justify-end -mt-16">
        <img class="object-cover " src="{% static 'image/coins/'%}{{token.image}}.webp">
      </div>
      <div>
        <h2 class="text-gray-800 text-3xl font-semibold">Resumen de la transacción</h2>
      </div>
      <div class="rows mt-2">
        <div class="row align-items-center">

          <div class="flex flex-wrap -mx-4 mt-4">
            <div class="w-full md:w-1/4 px-4 mb-2">
              Hash de la transacción
            </div>
            <div class="w-full md:w-3/4 px-4 mb-4 md:mb-0">
               {{ object.hash }}
            </div>
          </div>
          <hr class="hr-space">
          
          <div class="flex flex-wrap -mx-4 mt-4">
            <div class="w-full md:w-1/4 px-4 mb-2">
              Block ID
            </div>
            <div class="w-full md:w-3/4 px-4 mb-4 md:mb-0">
               {{ object.block }}
            </div>
          </div>
          <hr class="hr-space">

          <div class="flex flex-wrap -mx-4 mt-4">
            <div class="w-full md:w-1/4 px-4 mb-2">
              Wallet
            </div>
            <div class="w-full md:w-3/4 px-4 mb-4 md:mb-0">
               {{ object.wallet.address }} - <strong>({{ object.wallet.alias }})</strong>
            </div>
          </div>
          <hr class="hr-space">

          <div class="flex flex-wrap -mx-4 mt-4">
            <div class="w-full md:w-1/4 px-4 mb-2">
              Sender
            </div>
            <div class="w-full md:w-3/4 px-4 mb-4 md:mb-0">
               {{ object.sender }}
            </div>
          </div>
          <hr class="hr-space">

          <div class="flex flex-wrap -mx-4 mt-4">
            <div class="w-full md:w-1/4 px-4 mb-2">
              Amount
            </div>
            <div class="w-full md:w-3/4 px-4 mb-4 md:mb-0">
               {{ object.amount }}
            </div>
          </div>
          <hr class="hr-space">

          <div class="flex flex-wrap -mx-4 mt-4">
            <div class="w-full md:w-1/4 px-4 mb-2">
              Token
            </div>
            <div class="w-full md:w-3/4 px-4 mb-4 md:mb-0">
               {{ token.symbol }}
            </div>
          </div>
          <hr class="hr-space">

          <div class="flex flex-wrap -mx-4 mt-4">
            <div class="w-full md:w-1/4 px-4 mb-2">
              Nonce
            </div>
            <div class="w-full md:w-3/4 px-4 mb-4 md:mb-0">
               {{ object.nonce }}
            </div>
          </div>

      </div>
    </div>
  </section>

{% endblock %}
