<div class="w-full md:w-1/2 p-4 mb-2 md:mb-0">
    <div class="py-3 px-6 border">
        <svg class="text-indigo-600 w-10 h-10 ml-auto" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
        </svg>
        <h3 class="text-5xl mb-3 font-semibold font-heading font-semibold">Gratuita</h3>
        <p class="mb-8 text-gray-400 leading-relaxed">Utiliza el servicio sin costo.</p>
        <h3 class="mb-3 font-semibold font-heading font-semibold">Incluye</h3>
        <ul class="mb-8 list-inside list-disc text-gray-400">
          <li class="mb-1">Máximo de una billetera.</li>
          <li class="mb-1">Máximo track de 2 criptomonedas.</li>
          <li class="mb-1">Notificaciones en tiempo real sobre todos tus depositos.</li>
          <li class="mb-1">Conoce el balance de tu billetera.</li>
        </ul>
        <a class="inline-block w-full py-3 px-5 leading-none text-center text-indigo-600 bg-indigo-50 hover:bg-indigo-100 font-semibold rounded shadow" href="#">Subscribe</a>
    </div>
</div>
  
<div class="w-full md:w-1/2 p-4 mb-2 md:mb-0">
    <div class="py-3 px-6 border">
      <svg class="text-indigo-600 w-10 h-10 ml-auto" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4M7.835 4.697a3.42 3.42 0 001.946-.806 3.42 3.42 0 014.438 0 3.42 3.42 0 001.946.806 3.42 3.42 0 013.138 3.138 3.42 3.42 0 00.806 1.946 3.42 3.42 0 010 4.438 3.42 3.42 0 00-.806 1.946 3.42 3.42 0 01-3.138 3.138 3.42 3.42 0 00-1.946.806 3.42 3.42 0 01-4.438 0 3.42 3.42 0 00-1.946-.806 3.42 3.42 0 01-3.138-3.138 3.42 3.42 0 00-.806-1.946 3.42 3.42 0 010-4.438 3.42 3.42 0 00.806-1.946 3.42 3.42 0 013.138-3.138z"></path>
      </svg>
      <h3 class="text-5xl mb-3 font-semibold font-heading font-semibold">$49 dls/mo</h3>
      <p class="mb-8 text-gray-400 leading-relaxed">Subscripción mensual.</p>
      <h3 class="mb-3 font-semibold font-heading font-semibold">Incluye</h3>
      <ul class="mb-8 list-inside list-disc text-gray-400">
        <li class="mb-1">Billeteras ilimitadas.</li>
        <li class="mb-1">Track de criptomonedas ilimitadas.</li>
        <li class="mb-1">Notificaciones en tiempo real sobre todos tus depositos.</li>
        <li class="mb-1">Conoce el balance de todas tus billetera.</li>
        <li class="mb-1">Accesso al Webhook de desarrollo.</li>
        <li class="mb-1">Integración de pasarela de pagos para cobros con criptomonedas.</li>
      </ul>
      <a class="inline-block w-full py-3 px-5 leading-none text-center text-white bg-indigo-600 hover:bg-indigo-700 font-semibold rounded shadow" href="#">Subscribe</a>
    </div>
  </div>
</div>