<h2 class="text-3xl mb-2 font-semibold font-heading font-semibold">Support ticket list</h2>
<p class="mb-4">List of tickets opend by customers</p>
<div class="flex flex-wrap -mx-4 mb-8">
    <div class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0">
    <div class="h-full">
        <div class="text-center p-4 mb-2 bg-blue-500 text-white rounded">
        <h3 class="text-3xl leading-tight font-semibold font-heading font-semibold">448</h3>
        <span class="leading-none">Total Tickets</span>
        </div>
    </div>
    </div>
    <div class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0">
    <div class="h-full">
        <div class="text-center p-4 mb-2 bg-red-500 text-white rounded">
        <h3 class="text-3xl leading-tight font-semibold font-heading font-semibold">81</h3>
        <span class="leading-none">Responded</span>
        </div>
    </div>
    </div>
    <div class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0">
    <div class="h-full">
        <div class="text-center p-4 mb-2 bg-green-500 text-white rounded">
        <h3 class="text-3xl leading-tight font-semibold font-heading font-semibold">208</h3>
        <span class="leading-none">Resolved</span>
        </div>
    </div>
    </div>
    <div class="w-full lg:w-1/4 px-4 mb-6 lg:mb-0">
    <div class="h-full">
        <div class="text-center p-4 mb-2 bg-gray-800 text-white rounded">
        <h3 class="text-3xl leading-tight font-semibold font-heading font-semibold">159</h3>
        <span class="leading-none">Peding</span>
        </div>
    </div>
    </div>
</div>
<table class="w-full table-auto">
    <thead>
    <tr><th class="border-t px-2 py-2" scope="col">ID #</th><th class="border-t px-2 py-2" scope="col">Opened By</th><th class="border-t px-2 py-2" scope="col">Cust. Email</th><th class="border-t px-2 py-2" scope="col">Subject</th><th class="text-center border-t px-2 py-2" scope="col">Status</th><th class="text-center border-t px-2 py-2" scope="col">Assign to</th><th class="text-center border-t px-2 py-2" scope="col">Date</th><th class="text-center border-t px-2 py-2" scope="col">Action</th></tr>
    </thead>
    <tbody>
    <tr>
        <td class="border-t px-2 py-2">348</td>
        <td class="border-t px-2 py-2">
        <a href="#">
            <img class="inline-block mr-2 rounded-full" src="placeholders-2-0/pictures/male_avatar.svg" alt="" height="40" width="40">
            Lauren North
        </a>
        </td>
        <td class="border-t px-2 py-2">lauren@gmail.com</td>
        <td class="border-t px-2 py-2">Where are my files?</td>
        <td class="text-center border-t px-2 py-2">
        <span class="inline-block text-sm py-1 px-3 rounded-full text-white bg-yellow-500">New</span>
        </td>
        <td class="text-center border-t px-2 py-2">Kelly Kapoor</td>
        <td class="text-center border-t px-2 py-2">18-11-2018</td>
        <td class="text-center border-t px-2 py-2"><a class="text-indigo-600 hover:underline" href="#">edit</a></td>
    </tr>
    <tr>
        <td class="border-t px-2 py-2">349</td>
        <td class="border-t px-2 py-2">
        <a href="#">
            <img class="inline-block mr-2 rounded-full" src="placeholders-2-0/pictures/male_avatar.svg" alt="" height="40" width="40">
            Kian Gray
        </a>
        </td>
        <td class="border-t px-2 py-2">kian.gray@gmail.com</td>
        <td class="border-t px-2 py-2">I can't send file to my friend</td>
        <td class="text-center border-t px-2 py-2">
        <span class="inline-block text-sm py-1 px-3 rounded-full text-white bg-green-500">Resolved</span>
        </td>
        <td class="text-center border-t px-2 py-2">Kelly Kapoor</td>
        <td class="text-center border-t px-2 py-2">20-11-2018</td>
        <td class="text-center border-t px-2 py-2"><a class="text-indigo-600 hover:underline" href="#">edit</a></td>
    </tr>
    <tr>
        <td class="border-t px-2 py-2">350</td>
        <td class="border-t px-2 py-2">
        <a href="#">
            <img class="inline-block mr-2 rounded-full" src="placeholders-2-0/pictures/male_avatar.svg" alt="" height="40" width="40">
            Mollie Davey
        </a>
        </td>
        <td class="border-t px-2 py-2">mollie@davey.com</td>
        <td class="border-t px-2 py-2">Compressed files have low quality</td>
        <td class="text-center border-t px-2 py-2">
        <span class="inline-block text-sm py-1 px-3 rounded-full text-white bg-green-500">Resolved</span>
        </td>
        <td class="text-center border-t px-2 py-2">Kelly Kapoor</td>
        <td class="text-center border-t px-2 py-2">21-11-2018</td>
        <td class="text-center border-t px-2 py-2"><a class="text-indigo-600 hover:underline" href="#">edit</a></td>
    </tr>
    <tr>
        <td class="border-t px-2 py-2">351</td>
        <td class="border-t px-2 py-2">
        <a href="#">
            <img class="inline-block mr-2 rounded-full" src="placeholders-2-0/pictures/male_avatar.svg" alt="" height="40" width="40">
            Josh Douglas
        </a>
        </td>
        <td class="border-t px-2 py-2">j.douglas@hotmail.com</td>
        <td class="border-t px-2 py-2">My phone won't turn on</td>
        <td class="text-center border-t px-2 py-2">
        <span class="inline-block text-sm py-1 px-3 rounded-full text-white bg-gray-800">Pending</span>
        </td>
        <td class="text-center border-t px-2 py-2">Kelly Kapoor</td>
        <td class="text-center border-t px-2 py-2">22-11-2018</td>
        <td class="text-center border-t px-2 py-2"><a class="text-indigo-600 hover:underline" href="#">edit</a></td>
    </tr>
    <tr>
        <td class="border-t px-2 py-2">352</td>
        <td class="border-t px-2 py-2">
        <a href="#">
            <img class="inline-block mr-2 rounded-full" src="placeholders-2-0/pictures/male_avatar.svg" alt="" height="40" width="40">
            Jodie Field
        </a>
        </td>
        <td class="border-t px-2 py-2">jodie@field.com</td>
        <td class="border-t px-2 py-2">How to change e-mail??</td>
        <td class="text-center border-t px-2 py-2">
        <span class="inline-block text-sm py-1 px-3 rounded-full text-white bg-yellow-500">New</span>
        </td>
        <td class="text-center border-t px-2 py-2">Kelly Kapoor</td>
        <td class="text-center border-t px-2 py-2">22-11-2018</td>
        <td class="text-center border-t px-2 py-2"><a class="text-indigo-600 hover:underline" href="#">edit</a></td>
    </tr>
    <tr>
        <td class="border-t px-2 py-2">353</td>
        <td class="border-t px-2 py-2">
        <a href="#">
            <img class="inline-block mr-2 rounded-full" src="placeholders-2-0/pictures/male_avatar.svg" alt="" height="40" width="40">
            Taylor Gill
        </a>
        </td>
        <td class="border-t px-2 py-2">taylor.gill777@hotmail.com</td>
        <td class="border-t px-2 py-2">My files are corrupted</td>
        <td class="text-center border-t px-2 py-2">
        <span class="inline-block text-sm py-1 px-3 rounded-full text-white bg-green-500">Resolved</span>
        </td>
        <td class="text-center border-t px-2 py-2">Kelly Kapoor</td>
        <td class="text-center border-t px-2 py-2">23-11-2018</td>
        <td class="text-center border-t px-2 py-2"><a class="text-indigo-600 hover:underline" href="#">edit</a></td>
    </tr>
    </tbody>
</table>