<form method="POST">
    {% csrf_token %}
    {%for field in form %}

      <div class="mb-6 {%if field.errors %} <p class='text-red-400 leading-relaxed'>error</p> {% endif %}">
        {% if field.field.widget.input_type == 'checkbox' %}
          <p class="text-gray-400 leading-relaxed">Selecciona las criptomonedas que deseas asociar a tu billetera.</p>
          <br>
        {% endif %}

        {{ field }}
        {% if field.errors %}
          {{ field.errors }}
        {% endif %}
      </div>

    {% endfor %}
    <button class="inline-block w-full py-4 px-8 leading-none text-white bg-indigo-600 hover:bg-indigo-700 font-semibold rounded shadow">{{ message }}</button>
</form>