<div class="flex flex-wrap -mx-4 mb-8">
    <div class="w-full lg:w-1/3 px-4 mb-6 lg:mb-0">
    <div class="h-full">
        <div class="text-center p-4 mb-2 bg-blue-500 text-white rounded">
        <h3 class="text-3xl leading-tight font-semibold font-heading font-semibold">{{ total }}</h3>
        <span class="leading-none">Total de transacciones</span>
        </div>
    </div>
    </div>
    <div class="w-full lg:w-1/3 px-4 mb-6 lg:mb-0">
    <div class="h-full">
        <div class="text-center p-4 mb-2 bg-green-500 text-white rounded">
        <h3 class="text-3xl leading-tight font-semibold font-heading font-semibold">{{ successful }}</h3>
        <span class="leading-none">Depositos</span>
        </div>
    </div>
    </div>
    <div class="w-full lg:w-1/3 px-4 mb-6 lg:mb-0">
    <div class="h-full">
        <div class="text-center p-4 mb-2 bg-gray-800 text-white rounded">
        <h3 class="text-3xl leading-tight font-semibold font-heading font-semibold">$ {{ amount }}</h3>
        <span class="leading-none">Balance total (USD)</span>
        </div>
    </div>
    </div>
</div>