{% extends 'base/base.html' %}
{% load static %}

{% block content %}
<div class="container mx-auto px-4"> 
  {% include  'base/snippets/navbar.html' %}

  <section class="py-12 px-4">
    <div class="flex flex-wrap items-center text-center lg:text-left -mx-2">
      <div class="lg:w-1/2 px-2 lg:pr-10 mt-10 lg:mt-0 order-1 lg:order-none">
        <span class="text-sm font-semibold">Binance Smart Chain (Red BEB20)</span>
        <h2 class="text-5xl mt-4 mb-6 leading-tight font-semibold font-heading">Lleva el control de tus finanzas decentralizadas.</h2>
      </div>
      <div class="lg:w-1/2 px-2">
        <img src="{% static 'image/legrappe.png' %}" alt="">
      </div>
    </div>
  </section>

  <section class="py-12 px-4">
    
    <div class="flex flex-wrap -mx-4 mb-6">
      <div class="lg:w-1/4 px-4 mb-6">
        <svg class="text-indigo-600 w-10 h-10" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"></path>
        </svg>
        <h3 class="text-xl my-3 font-semibold font-heading">Notificaciones</h3>
        <p class="text-sm text-gray-400 leading-relaxed">Recibe notificaciones en tiempo real para todos los movimientos de tus billeteras.</p>
      </div>
      <div class="lg:w-1/4 px-4 mb-6">
        <svg class="text-indigo-600 w-10 h-10" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 3.055A9.001 9.001 0 1020.945 13H11V3.055z"></path>
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M20.488 9H15V3.512A9.025 9.025 0 0120.488 9z"></path>
        </svg>
        <h3 class="text-xl my-3 font-semibold font-heading">Balance</h3>
        <p class="text-sm text-gray-400 leading-relaxed">Conoce en todo momento el balance de tus billetaras. No importa si participas en alguna pool o te encuentras en algún farming activo.</p>
      </div>
      <div class="lg:w-1/4 px-4 mb-6">
        <svg class="text-indigo-600 w-10 h-10" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z"></path>
        </svg>
        <h3 class="text-xl my-3 font-semibold font-heading">Criptomonedas</h3>
        <p class="text-sm text-gray-400 leading-relaxed">Define tu portafolio de inversiones con las Criptomonedas de tu interes.</p>
      </div>
      <div class="lg:w-1/4 px-4 mb-6">
        <svg class="text-indigo-600 w-10 h-10" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m5 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path>
        </svg>
        <h3 class="text-xl my-3 font-semibold font-heading">API</h3>
        <p class="text-sm text-gray-400 leading-relaxed">Implementa la pasarela de Pagos <strong>LeGrappe</strong> para hacer que tu noegicio crezca, permitiendo a tus clientes pagar con criptos.</p>
      </div>
    </div>
  </section>


  <section class="py-12 px-4 text-center">
    <div class="w-full max-w-2xl mx-auto">
      <h3 class="text-4xl mt-2 mb-6 leading-tight font-semibold font-heading">Binance Smart Chain</h3>
      <p class="mb-8 text-gray-400 leading-relaxed">Debido a los altos costos de transacción y a la constente congestion en la red de Etherum (ERC20), hemos decidido implementar <strong>LeGrappe</strong> en su primera etapa sobre la red Binance (BEBP20).</p>
      <div>
        <a class="text-indigo-600 hover:underline" href="https://academy.binance.com/en/glossary/bep-20" target="_blank">Conoce más</a>
      </div>
    </div>
  </section>

  <section class="py-8">
    
    <h2 class="text-3xl text-center mb-12 font-semibold font-heading">Accede a todo el contenido con una sola subscripción.</h2>
    <div class="flex flex-wrap max-w-4xl mx-auto">
    {% include  'base/snippets/prices.html' %}
  </section>
</div>

{% endblock %}
