{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="container mx-auto px-4"> 
  {% include  'base/snippets/navbar.html' %}

  <section class="py-12 px-4">
    <h2 class="text-4xl mb-16 text-center font-semibold font-heading">Login</h2>
    <div class="flex flex-wrap items-center -mx-6">
      <div class="w-full lg:w-1/2 px-6 lg:px-24 mb-8 lg:mb-0">
        <img src="" alt="">
      </div>
      <div class="w-full lg:w-1/2 px-6">
        {% include 'base/snippets/forms.html' %}
        <br>
        <a class="text-lg text-indigo-600 hover:underline" href="{% url 'register' %}">Crear cuenta</a>
        <br>
        <a class="text-lg text-indigo-600 hover:underline" href="{% url 'register' %}">Olvide mi contraseña</a>
      </div>
    </div>
  </section>
</div>
{% endblock %}